/ {
	uln2003_1 {
		compatible = "gpio-stepper-motor-controller";
		gpios = <&gpioa 9 GPIO_ACTIVE_HIGH>,
				<&gpioc 7 GPIO_ACTIVE_HIGH>,
				<&gpiob 0 GPIO_ACTIVE_HIGH>,
				<&gpioa 7 GPIO_ACTIVE_HIGH>;
		motor: motor {
			gear-ratio = "64";
			steps-per-revolution = <32>;
		};
	};
};
